html { box-sizing: border-box; }

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body { margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section { display: block; }
summary { display: list-item; }

audio,
canvas,
progress,
video { display: inline-block; }
progress { vertical-align: baseline; }

audio:not([controls]) {
    height: 0;
    display: none;
}

[hidden],
template { display: none; }
a { background-color: transparent; }

a:active,
a:hover { outline-width: 0; }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong { font-weight: bolder; }
dfn { font-style: italic; }

mark {
    background: #ff0;
    color: #000;
}

small { font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
figure { margin: 1em 40px; }
img { border-style: none; }

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

hr {
    height: 0;
    box-sizing: content-box;
    overflow: visible;
}

button,
input,
select,
textarea,
optgroup {
    margin: 0;
    font: inherit;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    max-width: 100%;
    padding: 0;
    display: table;
    white-space: normal;
    color: inherit;
}

textarea {
    overflow: auto;
}

[type=checkbox],
[type=radio] {
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

html,
body {
    font-size: 15px;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

html { overflow-x: hidden; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
.up-serif { font-family: serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

.up-wide {
    letter-spacing: 4px;
}

hr {
    border: 0;
    margin: 20px 0;
    border-top: 1px solid #eee;
}

.up-image {
    max-width: 100%;
    height: auto;
}

img { vertical-align: middle; }
a { color: inherit; }

.up-table,
.up-table-all {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.up-table-all {
    border: 1px solid #ccc;
}

.up-bordered tr,
.up-table-all tr {
    border-bottom: 1px solid #ddd;
}

.up-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.up-table-all tr:nth-child(odd) {
    background-color: #fff;
}

.up-table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}

.up-hoverable tbody tr:hover,
.up-ul.up-hoverable li:hover {
    background-color: #ccc;
}

.up-centered tr th,
.up-centered tr td {
    text-align: center;
}

.up-table td,
.up-table th,
.up-table-all td,
.up-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.up-table th:first-child,
.up-table td:first-child,
.up-table-all th:first-child,
.up-table-all td:first-child {
    padding-left: 16px;
}

.up-btn,
.up-button {
    padding: 8px 16px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: inherit;
    background-color: inherit;
}

.up-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up-btn,
.up-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.up-disabled,
.up-btn:disabled,
.up-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.up-disabled *,
 :disabled * {
    pointer-events: none;
}

.up-btn.up-disabled:hover,
.up-btn:disabled:hover {
    box-shadow: none;
}

.up-badge,
.up-tag {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.up-badge { border-radius: 50%; }

.up-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.up-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.up-ul li:last-child {
    border-bottom: none;
}

.up-tooltip,
.up-display-container { position: relative; }
.up-tooltip .up-text { display: none; }
.up-tooltip:hover .up-text { display: inline-block; }
.up-ripple:active { opacity: 0.5; }
.up-ripple { transition: opacity 0s; }

.up-input {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    border: none;
}

.up-select {
    padding: 9px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border: none;
}

.up-dropdown-click,
.up-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.up-dropdown-hover:hover .up-dropdown-content { display: block; }

.up-dropdown-hover:first-child,
.up-dropdown-click:hover {
    background-color: #ccc;
    color: #000;
}

.up-dropdown-hover:hover>.up-button:first-child,
.up-dropdown-click:hover>.up-button:first-child {
    background-color: #ccc;
    color: #000;
}

.up-dropdown-content {
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: auto;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
}

.up-check,
.up-radio {
    width: 24px;
    height: 24px;
    top: 6px;
    position: relative;
}

.up-sidebar {
    height: 100%;
    width: 200px;
    z-index:3;
    width:300px;
    z-index: 1;
    position: fixed!important;
    overflow: auto;
    background-color: #fff;
}

.up-bar-block .up-dropdown-hover,
.up-bar-block .up-dropdown-click {
    width: 100%;
}

.up-bar-block .up-dropdown-hover .up-dropdown-content,
.up-bar-block .up-dropdown-click .up-dropdown-content {
    min-width: 100%;
}

.up-bar-block .up-dropdown-hover .up-button,
.up-bar-block .up-dropdown-click .up-button {
    width: 100%;
    padding: 8px 16px;
    text-align: left;
}

.up-main,
#main {
    margin-left:300px;
    margin-left: .4s;
    /* transition: margin-left .4s; */
}

.up-modal {
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.up-modal-content {
    outline: 0;
    padding: 0;
    width: 600px;
    margin: auto;
    position: relative;
    background-color: #fff;
}

.up-bar {
    width: 100%;
    overflow: hidden;
}

.up-center .up-bar {
    display: inline-block;
    width: auto;
}

.up-bar .up-bar-item {
    padding: 8px 16px;
    outline: 0;
    float: left;
    width: auto;
    border: none;
    display: block;
}

.up-bar .up-dropdown-hover,
.up-bar .up-dropdown-click {
    position: static;
    float: left;
}

.up-bar .up-button { white-space: normal; }

.up-bar-block .up-bar-item {
    width: 100%;
    padding: 8px 16px;
    outline: 0;
    display: block;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
}

.up-bar-block.up-center .up-bar-item {
    text-align: center;
}

.up-block {
    width: 100%;
    display: block;
}

.up-responsive {
    display: block;
    overflow-x: auto;
}

.up-container:after,
.up-container:before,
.up-panel:after,
.up-panel:before,
.up-row:after,
.up-row:before,
.up-row-padding:after,
.up-row-padding:before,
.up-cell-row:before,
.up-cell-row:after,
.up-clear:after,
.up-clear:before,
.up-bar:before,
.up-bar:after {
    content: "";
    display: table;
    clear: both;
}

.up-col,
.up-half,
.up-third,
.up-twothird,
.up-threequarter,
.up-quarter {
    width: 100%;
    float: left;
}

.up-col.s1 { width: 8.33333%; }
.up-col.s2 { width: 16.66666%; }
.up-col.s3 { width: 24.99999%; }
.up-col.s4 { width: 33.33333%; }
.up-col.s5 { width: 41.66666%; }
.up-col.s6 { width: 49.99999%; }
.up-col.s7 { width: 58.33333%; }
.up-col.s8 { width: 66.66666%; }
.up-col.s9 { width: 74.99999%; }
.up-col.s10 { width: 83.33333%; }
.up-col.s11 { width: 91.66666%; }
.up-col.s12 { width: 99.99999%; }

@media (min-width:601px) {
    .up-col.m1 { width: 8.33333%; }
    .up-col.m2 { width: 16.66666%; }

    .up-col.m3,
    .up-quarter {
        width: 24.99999%;
    }

    .up-col.m4,
    .up-third {
        width: 33.33333%;
    }

    .up-col.m5 {
        width: 41.66666%;
    }
    .up-col.m6,
    .up-half {
        width: 49.99999%;
    }
    .up-col.m7 {
        width: 58.33333%;
    }
    .up-col.m8,
    .up-twothird {
        width: 66.66666%;
    }
    .up-col.m9,
    .up-threequarter {
        width: 74.99999%;
    }
    .up-col.m10 {
        width: 83.33333%;
    }
    .up-col.m11 {
        width: 91.66666%;
    }
    .up-col.m12 {
        width: 99.99999%;
    }
}

@media (min-width:993px) {
    .up-col.l1 { width: 8.33333%; }
    .up-col.l2 { width: 16.66666%; }
    .up-col.l3 { width: 24.99999%; }
    .up-col.l4 { width: 33.33333%; }
    .up-col.l5 { width: 41.66666%; }
    .up-col.l6 { width: 49.99999%; }
    .up-col.l7 { width: 58.33333%; }
    .up-col.l8 { width: 66.66666%; }
    .up-col.l9 { width: 74.99999%; }
    .up-col.l10 { width: 83.33333%; }
    .up-col.l11 { width: 91.66666%; }
    .up-col.l12 { width: 99.99999%; }
}

.up-rest { overflow: hidden; }

.up-stretch {
    margin-left: -16px;
    margin-right: -16px;
}

.up-content,
.up-auto {
    margin-left: auto;
    margin-right: auto;
}

.up-content {
    max-width: 980px;
}

.up-auto {
    max-width: 1140px;
}

.up-cell-row {
    width: 100%;
    display: table;
}

.up-cell {
    display: table-cell;
}

.up-cell-top {
    vertical-align: top;
}

.up-cell-middle {
    vertical-align: middle;
}

.up-cell-bottom {
    vertical-align: bottom;
}

.up-hide {
    display: none!important;
}

.up-show-block,
.up-show {
    display: block!important;
}

.up-show-inline-block {
    display: inline-block!important
}

@media (max-width:1205px) {
    .up-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .up-modal-content {
        margin: 0 10px;
        width: auto!important;
    }
    .up-modal {
        padding-top: 30px;
    }
    .up-dropdown-hover.up-mobile .up-dropdown-content,
    .up-dropdown-click.up-mobile .up-dropdown-content {
        position: relative;
    }
    .up-hide-small {
        display: none!important;
    }
    .up-mobile {
        width: 100%!important;
        display: block;
    }
    .up-bar-item.up-mobile,
    .up-dropdown-hover.up-mobile,
    .up-dropdown-click.up-mobile {
        text-align: center;
    }
    .up-dropdown-hover.up-mobile,
    .up-dropdown-hover.up-mobile .up-btn,
    .up-dropdown-hover.up-mobile .up-button,
    .up-dropdown-click.up-mobile,
    .up-dropdown-click.up-mobile .up-btn,
    .up-dropdown-click.up-mobile .up-button {
        width: 100%;
    }
}

@media (max-width:768px) {
    .up-modal-content { width: 500px; }
    .up-modal { padding-top: 50px; }
}

@media (min-width:993px) {
    .up-modal-content { width: 900px; }
    .up-hide-large { display: none!important; }
    .up-sidebar.up-collapse { display: block!important; }
}

@media (max-width:992px) and (min-width:601px) {
    .up-hide-medium { display: none!important; }
}

@media (max-width:992px) {
    .up-sidebar.up-collapse { display: none; }
    .up-auto { max-width: 100%; }

    .up-main {
        margin-left: 0!important;
        margin-right: 0!important
    }
}

.up-top,
.up-bottom {
    width: 100%;
    z-index: 1;
    position: fixed;
}

.up-top {
    top: 0;
}

.up-bottom {
    bottom: 0;
}

.up-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    z-index: 2;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.up-display-topleft {
    left: 0;
    top: 0;
    position: absolute;
}

.up-display-topright {
    right: 0;
    top: 0;
    position: absolute;
}

.up-display-bottomleft {
    left: 0;
    bottom: 0;
    position: absolute;
}

.up-display-bottomright {
    right: 0;
    bottom: 0;
    position: absolute;
}

.up-display-middle {
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.up-display-left {
    -ms-transform: translate(-0%, -50%);
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(0%, -50%);
}

.up-display-right {
    -ms-transform: translate(0%, -50%);
    top: 50%;
    right: 0%;
    position: absolute;
    transform: translate(0%, -50%);
}

.up-display-topmiddle {
    -ms-transform: translate(-50%, 0%);
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, 0%);
}

.up-display-bottommiddle {
    -ms-transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translate(-50%, 0%);
}

.up-display-container:hover .up-display-hover { display: block; }
.up-display-container:hover span.up-display-hover { display: inline-block; }
.up-display-hover { display: none; }
.up-display-position { position: absolute; }
.up-circle {
   border-radius: 50%;
   width:100%;
 }
.up-round-small {
   border-radius: 2px;
   width: 45%;
}

.up-round,
.up-round-medium { border-radius: 4px; }
.up-round-large { border-radius: 8px; }
.up-round-xlarge { border-radius: 16px; }
.up-round-xxlarge { border-radius: 32px; }

.up-row-padding,
.up-row-padding>.up-half,
.up-row-padding>.up-third,
.up-row-padding>.up-twothird,
.up-row-padding>.up-threequarter,
.up-row-padding>.up-quarter,
.up-row-padding>.up-col {
    padding: 0 8px;
}

.up-container,
.up-panel {
    padding: 0.01em 16px;
}

.up-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}

.up-code,
.up-codespan {
    font-size: 16px;
    font-family: Consolas, "courier new";
}

.up-code {
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    width: auto;
    word-wrap: break-word;
    background-color: #fff;
}

.up-codespan {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
    background-color: #f1f1f1;
    color: crimson;
}

.up-card,
.up-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.up-card-4,
.up-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.up-spin {
    animation: up-spin 2s infinite linear;
}

@keyframes up-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.up-animate-fading { animation: fading 10s infinite; }

@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.up-animate-opacity {
    animation: opac 0.8s;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.up-animate-top {
    position: relative;
    /* animation: animatetop 0.4s; */
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.up-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.up-animate-right {
    position: relative;
    animation: animateright 0.4s;
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.up-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

.up-animate-zoom {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.up-container .up-padding-large { margin-bottom: 32px; }
.up-animate-input { transition: width 0.4s ease-in-out; }
.up-animate-input:focus { width: 100%!important; }
.up-row-padding .up-third .up-container .up-margin-bottom .up-hover-opacity {
    width: 100%;
}
/* .up-third>.up-container >.up-margin-bottom >.up-hover-opacity { width: 100%; } */
.my-images { width: 100%; }

.up-opacity,
.up-hover-opacity:hover { opacity: 0.60;  }

.up-opacity-off,
.up-hover-opacity-off:hover { opacity: 1; }

.up-opacity-max { opacity: 0.25; }
.up-opacity-min { opacity: 0.75; }

.up-greyscale-max,
.up-grayscale-max,
.up-hover-greyscale:hover,
.up-hover-grayscale:hover { filter: grayscale(100%); }

.up-greyscale,
.up-grayscale { filter: grayscale(75%); }
.up-container .up-dark-grey .up-padding .up-center .photography { width: 95%; }
.up-container .up-dark-grey .up-padding .up-center .web-design { width: 85%; }
.up-container .up-dark-grey .up-padding .up-center .photoshop { width: 80%; }
.up-greyscale-min,
.up-grayscale-min { filter: grayscale(50%); }

.up-sepia { filter: sepia(75%); }
.up-sepia-max,
.up-hover-sepia:hover { filter: sepia(100%); }

.up-sepia-min { filter: sepia(50%); }

.up-tiny { font-size: 10px!important; }
.up-small { font-size: 12px!important; }
.up-medium { font-size: 15px!important; }
.up-large { font-size: 18px!important; }
.up-xlarge { font-size: 24px!important; }
.up-xxlarge { font-size: 36px!important; }
.up-xxxlarge { font-size: 48px!important; }
.up-jumbo { font-size: 64px!important; }
.up-left-align { text-align: left!important; }
.up-right-align { text-align: right!important; }
.up-justify { text-align: justify!important; }
.up-center {  text-align: center!important; }
.up-border-0 { border: 0!important; }
.up-border { border: 1px solid #ccc!important; }
.up-border-top { border-top: 1px solid #ccc!important; }
.up-border-bottom { border-bottom: 1px solid #ccc!important; }
.up-border-left { border-left: 1px solid #ccc!important; }
.up-border-right { border-right: 1px solid #ccc!important; }
.up-topbar { border-top: 6px solid #ccc!important; }
.up-bottombar { border-bottom: 6px solid #ccc!important; }
.up-leftbar { border-left: 6px solid #ccc!important; }
.up-rightbar { border-right: 6px solid #ccc!important; }

.up-section,
.up-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.up-left{ width: 50px;}
.up-margin { margin: 16px!important; }
.up-margin-top { margin-top: 16px!important; }
.up-margin-bottom { margin-bottom: 16px!important; }
.up-margin-left { margin-left: 16px!important; }
.up-margin-right { margin-right: 16px!important; }
.up-padding-small { padding: 4px 8px!important; }
.up-padding { padding: 8px 16px!important; }
.up-padding-large { padding: 12px 24px!important; }
.up-row-padding .up-center .up-padding-24 { margin:0 -16px}
.up-container .up-padding-large { margin:0 -16px;}
.up-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.up-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.up-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.up-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important;
}

.up-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.up-left { float: left!important; }
.up-right { float: right!important; }

.up-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.up-transparent,
.up-hover-none:hover { background-color: transparent!important; }
.up-hover-none:hover { box-shadow: none!important; }

.up-amber,
.up-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important;
}

.up-aqua,
.up-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important;
}

.up-blue,
.up-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}

.up-light-blue,
.up-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important;
}

.up-brown,
.up-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important;
}

.up-cyan,
.up-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important;
}

.up-blue-grey,
.up-hover-blue-grey:hover,
.up-blue-gray,
.up-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important;
}

.up-green,
.up-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}

.up-light-green,
.up-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important;
}

.up-indigo,
.up-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important;
}

.up-khaki,
.up-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important;
}

.up-lime,
.up-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important;
}

.up-orange,
.up-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important;
}

.up-deep-orange,
.up-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important;
}

.up-pink,
.up-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important;
}

.up-purple,
.up-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important;
}

.up-deep-purple,
.up-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important;
}

.up-red,
.up-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important;
}

.up-sand,
.up-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important;
}

.up-teal,
.up-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important;
}

.up-yellow,
.up-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important;
}

.up-white,
.up-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.up-black,
.up-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.up-grey,
.up-hover-grey:hover,
.up-gray,
.up-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important;
}
.up-container .up-dark-grey .up-padding .up-center{ width: 95%; }

.up-light-grey,
.up-hover-light-grey:hover,
.up-light-gray,
.up-hover-light-gray:hover {
    max-width:1600px;
    color: #000!important;
    background-color: #f1f1f1!important;
}

.up-dark-grey,
.up-hover-dark-grey:hover,
.up-dark-gray,
.up-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important;
}

.up-pale-red,
.up-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important;
}

.up-pale-green,
.up-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important;
}

.up-pale-yellow,
.up-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important;
}

.up-pale-blue,
.up-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important;
}

.up-text-amber,
.up-hover-text-amber:hover { color: #ffc107!important; }

.up-text-aqua,
.up-hover-text-aqua:hover { color: #00ffff!important; }

.up-text-blue,
.up-hover-text-blue:hover { color: #2196F3!important; }

.up-text-light-blue,
.up-hover-text-light-blue:hover { color: #87CEEB!important; }

.up-text-brown,
.up-hover-text-brown:hover { color: #795548!important; }

.up-text-cyan,
.up-hover-text-cyan:hover { color: #00bcd4!important; }

.up-text-blue-grey,
.up-hover-text-blue-grey:hover,
.up-text-blue-gray,
.up-hover-text-blue-gray:hover {
    color: #607d8b!important;
}

.up-text-green,
.up-hover-text-green:hover {
    color: #4CAF50!important;
}

.up-text-light-green,
.up-hover-text-light-green:hover {
    color: #8bc34a!important;
}

.up-text-indigo,
.up-hover-text-indigo:hover {
    color: #3f51b5!important;
}

.up-text-khaki,
.up-hover-text-khaki:hover {
    color: #b4aa50!important;
}

.up-text-lime,
.up-hover-text-lime:hover {
    color: #cddc39!important;
}

.up-text-orange,
.up-hover-text-orange:hover {
    color: #ff9800!important;
}

.up-text-deep-orange,
.up-hover-text-deep-orange:hover {
    color: #ff5722!important;
}

.up-text-pink,
.up-hover-text-pink:hover {
    color: #e91e63!important;
}

.up-text-purple,
.up-hover-text-purple:hover {
    color: #9c27b0!important;
}

.up-text-deep-purple,
.up-hover-text-deep-purple:hover {
    color: #673ab7!important;
}

.up-text-red,
.up-hover-text-red:hover {
    color: #f44336!important;
}

.up-text-sand,
.up-hover-text-sand:hover {
    color: #fdf5e6!important;
}

.up-text-teal,
.up-hover-text-teal:hover {
    color: #009688!important;
}

.up-text-yellow,
.up-hover-text-yellow:hover {
    color: #d2be0e!important;
}

.up-text-white,
.up-hover-text-white:hover {
    color: #fff!important;
}

.up-text-black,
.up-hover-text-black:hover {
    color: #000!important;
}

.up-text-grey,
.up-hover-text-grey:hover,
.up-text-gray,
.up-hover-text-gray:hover {
    color: #757575!important;
}

.up-text-light-grey,
.up-hover-text-light-grey:hover,
.up-text-light-gray,
.up-hover-text-light-gray:hover {
    color: #f1f1f1!important;
}

.up-text-dark-grey,
.up-hover-text-dark-grey:hover,
.up-text-dark-gray,
.up-hover-text-dark-gray:hover {
    color: #3a3a3a!important;
}

.up-border-amber,
.up-hover-border-amber:hover {
    border-color: #ffc107!important;
}

.up-border-aqua,
.up-hover-border-aqua:hover {
    border-color: #00ffff!important;
}

.up-border-blue,
.up-hover-border-blue:hover {
    border-color: #2196F3!important;
}

.up-border-light-blue,
.up-hover-border-light-blue:hover {
    border-color: #87CEEB!important;
}

.up-border-brown,
.up-hover-border-brown:hover {
    border-color: #795548!important;
}

.up-border-cyan,
.up-hover-border-cyan:hover {
    border-color: #00bcd4!important;
}

.up-border-blue-grey,
.up-hover-border-blue-grey:hover,
.up-border-blue-gray,
.up-hover-border-blue-gray:hover {
    border-color: #607d8b!important;
}

.up-border-green,
.up-hover-border-green:hover {
    border-color: #4CAF50!important;
}

.up-border-light-green,
.up-hover-border-light-green:hover {
    border-color: #8bc34a!important;
}

.up-border-indigo,
.up-hover-border-indigo:hover {
    border-color: #3f51b5!important;
}

.up-border-khaki,
.up-hover-border-khaki:hover {
    border-color: #f0e68c!important;
}

.up-border-lime,
.up-hover-border-lime:hover {
    border-color: #cddc39!important;
}

.up-border-orange,
.up-hover-border-orange:hover {
    border-color: #ff9800!important;
}

.up-border-deep-orange,
.up-hover-border-deep-orange:hover {
    border-color: #ff5722!important;
}

.up-border-pink,
.up-hover-border-pink:hover {
    border-color: #e91e63!important;
}

.up-border-purple,
.up-hover-border-purple:hover {
    border-color: #9c27b0!important;
}

.up-border-deep-purple,
.up-hover-border-deep-purple:hover {
    border-color: #673ab7!important;
}

.up-border-red,
.up-hover-border-red:hover {
    border-color: #f44336!important;
}

.up-border-sand,
.up-hover-border-sand:hover {
    border-color: #fdf5e6!important;
}

.up-border-teal,
.up-hover-border-teal:hover {
    border-color: #009688!important;
}

.up-border-yellow,
.up-hover-border-yellow:hover {
    border-color: #ffeb3b!important;
}

.up-border-white,
.up-hover-border-white:hover {
    border-color: #fff!important;
}

.up-border-black,
.up-hover-border-black:hover {
    border-color: #000!important;
}

.up-border-grey,
.up-hover-border-grey:hover,
.up-border-gray,
.up-hover-border-gray:hover {
    border-color: #9e9e9e!important;
}

.up-border-light-grey,
.up-hover-border-light-grey:hover,
.up-border-light-gray,
.up-hover-border-light-gray:hover {
    border-color: #f1f1f1!important;
}

.up-border-dark-grey,
.up-hover-border-dark-grey:hover,
.up-border-dark-gray,
.up-hover-border-dark-gray:hover {
    border-color: #616161!important;
}

.up-border-pale-red,
.up-hover-border-pale-red:hover {
    border-color: #ffe7e7!important;
}

.up-border-pale-green,
.up-hover-border-pale-green:hover {
    border-color: #e7ffe7!important;
}

.up-border-pale-yellow,
.up-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important;
}

.up-border-pale-blue,
.up-hover-border-pale-blue:hover {
    border-color: #e7ffff!important;
}